<h1 class = 'text-center'>Tabla General</h1>
<div class = 'wrapper'>
   <table>
      <thead>
         <tr>
            <th>Posicion</th>
            <th colspan="2">Nombre</th>
            <th>Ubicacion</th>
            <th>Estadio</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor = 'let team of teams'>
            <td>{{team.position}}</td>
            <td><img class = 'w-80 mb-2' src = '{{team.profileImg}}'/></td>
            <td>{{team.name}}</td>
            <td>{{team.ubication}}</td>
            <td>{{team.stadium}}</td>
         </tr>
      </tbody>
   </table>
</div>
          

<!-- <div class = 'row mx-0'>
        <div class = 'md-4 mt-4 card-deck' *ngFor = 'let team of teams' class = 'col-md-3 '>
            <div class = 'card mb-3'>
               
            <div class = 'card-body text-center'>

            <img class = 'w-80 mb-2' src = '{{team.profileImg}}'/> <br/>

               <span class = 'mx-1'><b>{{team.name}}</b></span><br/>
                <span class = 'mx-1'>{{team.ubication}}</span><br/>
                <label>Estadio:</label>
                <span class = 'mx-1'>{{team.stadium}}</span><br/>
                <label>Posicion:</label>
                <span class = 'mx-1'>{{team.position}}</span><br/>
            </div>
        </div>
    </div>
</div>  -->
