<div class = "wrapper">
<div class = "sidebar-wrapper">
<ul class="nav sidebar-nav flex-column">
  <a routerLink = '/Welcome'><img src="../../assets/img/logo_futbol.png"></a>
  <li class="nav-item">
    <a class="nav-link" routerLink = '/Table' ><fa-icon [icon]="faTable"></fa-icon> Tabla General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><fa-icon [icon]="faFutbol"></fa-icon> Partidos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink = '/Teams'><fa-icon [icon]="faUsers"></fa-icon> Equipos</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" routerLink = '/Login'><fa-icon [icon]="faSignOut"></fa-icon> Cerrar Sesión</a>
  </li>
</ul>
</div>
</div>
