<div class = 'h-100 container d-flex flex-column justify-content-center'>
  <div class = 'row justify-content-center'>
    <div class = 'col-4 h-100'>
      <div class = 'transparent card'>
        <div class = 'card-body'>
          <form [formGroup] = 'formSignUp' (ngSubmit) = 'onSignUp()'>
            <h3><fa-icon [icon]="faUserPlus"></fa-icon> Crea tu Cuenta</h3> 
            <input type="text" placeholder="first name" formControlName="firstName" class="w-100 mb-2 px-1 transparent">
            <input type="text" placeholder="last name" formControlName="lastName" class="w-100 mb-2 px-1 transparent">
            <input type="text" placeholder="email" formControlName="email" class="w-100 mb-2 px-1 transparent">
            <input type="password" placeholder="password" formControlName="password" class="w-100 mb-2 px-1 transparent">
            <input type="password" placeholder="confirm password" formControlName="confirmPw" class="w-100 mb-2 px-1 transparent">
            <button class="btn btn-dark"> <fa-icon [icon]="faCheck"></fa-icon> Registrate</button> 
          </form>
        </div>
      </div>
    </div>
  </div>      
</div>

