 <div class = 'card mb-3'>
               
            <div class = 'card-body text-center'>

            <img class = 'w-80 mb-2' src = "..\assets\img\{{team.logo}}"/> <br/>
               <span class = 'mx-1'><b>{{team.name}}</b></span><br/>
                <span class = 'mx-1'>{{team.location}}</span><br/>
                <span class = 'mx-1'>{{team.stadium}}</span><br/>
                <label>Posicion:</label>
                <span class = 'mx-1'>{{team.position}}</span><br/>
               <button class = 'btn btn-light' (click) = 'onRedirect(team.idequipo)'> <fa-icon [icon]="faEye"></fa-icon> Ver Información</button> 
            </div>
        </div>
